<header style="width:100%">
    <nav class="navbar navbar-default navbar-static-top">

        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand" ng-href="{{ homeLink }}" >
                    <span class="glyphicon glyphicon-cloud-upload"></span>
                    Plop-sync <small class="hidden-xs hidden-sm" ng-show="user" style="display: inline!important;"> / {{ header }} </small>
                </a>
            </div>




            <div ng-hide="user" class="navbar-right">
                <a class="btn btn-success navbar-btn" href="#/signup">Sign Up</a>
                <a class="btn btn-default navbar-btn" href="#/signin">Sign In</a>
            </div>

            <div ng-show="user" class="navbar-right">
                <p class="navbar-text">
                    <a href="#/account" class="navbar-link">Signed in as {{ user }} </a>
                </p>

                <div class="btn-group navbar-btn">

                    <a class="btn btn-default"
                       href="#/account/user"
                       tooltip="Edit your profile" tooltip-placement="bottom" tooltip-append-to-body="true">


                        <span class="icon-stack">
                            <i class="icon-circle icon-stack-base"></i>
                            <i class="icon-user icon-light "></i>
                        </span>
                    </a>

                    <a class="btn btn-default"
                       href="#/account/folders/list"
                       tooltip="Folders list" tooltip-placement="bottom" tooltip-append-to-body="true">

                        <span class="icon-stack">
                            <i class="icon-folder-close icon-stack-base"></i>
                            <i class="icon-list icon-light"></i>
                        </span>
                        <!--<i class="icon-list"></i>-->

                    </a>

                    <a class="btn btn-default"
                       href="#/account/folders/create"
                       tooltip="New Folder" tooltip-placement="bottom" tooltip-append-to-body="true">

                        <span class="icon-stack">
                            <i class="icon-folder-close icon-stack-base"></i>
                            <i class="icon-plus icon-light"></i>
                        </span>

                        <!--<i class="icon-folder-close"></i>-->
                    </a>

                    <button class="btn btn-default"
                            ng-click="signout()"
                            tooltip="Sign out" tooltip-placement="bottom" tooltip-append-to-body="true">
                        <span class="icon-stack">
                            <i class="icon-circle icon-stack-base"></i>
                            <i class="icon-signout icon-light "></i>
                        </span>
                    </button>

                </div>

            </div>

        </div>
    </nav>
</header>