<div header></div>

<div class="jumbotron">
    <h1><span class="glyphicon glyphicon-cloud-upload"></span> Plop-sync</h1>

    <p class="lead">The best way to synchronize your folders at home and overseas</p>
    <p class="text-muted">
        BitTorrent Sync based cloud storage
    </p>

    <p><a class="btn btn-lg btn-success" href="#/signup">Sign up today</a></p>
</div>

<div class="row">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">With Plop-Sync you benefit from </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5 text-center">
            <h3>
                All <a href="http://labs.bittorrent.com/experiments/sync.html">BitTorrent Sync goodnesses</a>
            </h3>
            <p>Unlimited sync between your devices</p>
            <p>Encrypted <abbr title
                               tooltip="File transfers are encrypted by design but Stored files aren't. You better
                               trust no one but yourself and set up some kind of client side encryption with encfs for
                               exemple">
                filetransfer*</abbr></p>
        </div>

        <div class="col-sm-2 text-center">
            <i class="icon-plus-sign" style="font-size:70px"></i>
        </div>

        <div class="col-sm-5 text-center">
            <h3> Having a BitTorrent Sync server online </h3>
            <p>faster sync outside of your office/home</p>
            <p>Backups in different locations</p>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-12 text-center">
            <h1>And it is still as simple as it can be !</h1>

            <p class="lead">
                <span class="text-muted">Step 1 :</span> Download <a href="http://labs.bittorrent.com/experiments/sync.html">BitTorrent Sync client</a>
            </p>
            <p class="lead">
                <span class="text-muted">Step 2 :</span> <a href="http://labs.bittorrent.com/experiments/sync/get-started.html">Install it and configure a shared folder</a> on your device
            </p>
            <p class="lead">
                <span class="text-muted">Step 3 :</span> <a href="http://localhost:1234/#/signup"> Sign in and connect your folder</a> with your shared key on Plop-Sync
            </p>

            <h2>That's all !</h2>
        </div>
    </div>

</div>

<div class="footer">
    <p>&copy; plop.io 2013</p>
</div>
