<div header></div>

<div class="jumbotron">
    <h1><span class="glyphicon glyphicon-cloud-upload"></span> Plop-sync</h1>

    <p class="lead">The best way to sync folder at home and oversea</p>

    <p><a class="btn btn-lg btn-success" href="#/signup">Sign up today</a></p>
</div>

<div class="row marketing">
    <div class="col-md-6">
        <h4> <i class="icon-smile icon-large"></i> Simply</h4>
        <p> Set up your folder. Copy your secret key or generate a new on. </p>

        <h4> <i class="icon-rocket icon-large"></i> Quicky</h4>
        <p> Access you folder. Sync start in a mater of seconds. </p>

        <h4> <i class="icon-lock icon-large"></i> Securly</h4>

        <p>Share you content. Each folder is running in an isolated container. </p>
    </div>

    <div class="col-md-6">
        <h4> <i class="icon-dashboard icon-large"></i> Faster</h4>

        <p>Your folder are hosted fast link</p>

        <h4> <i class="icon-hdd icon-large"></i> Bigger</h4>

        <p>No space limit</p>

        <h4> <i class="icon-usd icon-large"></i> Cheaper</h4>

        <p>And we're cheap</p>
    </div>
</div>

<div class="footer">
    <p>&copy; plop.io 2013</p>
</div>
