<div header="home"></div>

<div class="container">
    <div class="jumbotron">
        <h1><span class="glyphicon glyphicon-cloud-upload"></span> Plop-sync</h1>

        <p class="lead">The best way to synchronize your folders at home and overseas</p>
        <p class="text-muted">
            BitTorrent Sync based cloud storage
        </p>
        <br/>
        <p><a class="btn btn-lg btn-success" href="#/signup">Sign up today</a></p>
    </div>

    <div class="row">

        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">With Plop-Sync you benefit from </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 text-right">
                <h3>
                    All <a href="http://bittorrent.com/sync">BitTorrent Sync goodnesses</a>
                </h3>
                <p>Unlimited synchronization between your devices</p>
                <p>
                    Encrypted
                    <abbr title tooltip="File transfers are encrypted by design but Stored files aren't. You better trust no one but yourself and set up some kind of client side encryption with encfs forexemple"> filetransfer* </abbr>
                </p>
            </div>

            <div class="col-sm-2 text-center">
                <h3>
                    <i class="icon-plus-sign" style="font-size:70px"></i>
                </h3>
            </div>

            <div class="col-sm-5 text-left">
                <h3> Having a BitTorrent Sync server online </h3>
                <p>Faster synchronization outside of your office/home</p>
                <p>Backups in different locations</p>
            </div>
        </div>

        <br/><br/>

        <div class="row">
            <div class="col-md-12 text-center">
                <h1>It's quick and simple</h1>

                <div class="lead">
                    <p>
                        <span class="text-muted">Step 1 :</span> Download <a href="http://labs.bittorrent.com/experiments/sync.html">BitTorrent Sync client</a>
                    </p>
                    <p>
                        <span class="text-muted">Step 2 :</span> <a href="http://www.bittorrent.com/sync/get-started">Install it and configure a shared folder</a> on your device
                    </p>
                    <p>
                        <span class="text-muted">Step 3 :</span> <a href="#/signup"> Signup and connect your folder</a> with your shared key on Plop-Sync
                    </p>
                </div>



                <br/><br/>
                <h2>That's all !</h2>
                <br/><br/>
            </div>
        </div>

    </div>

    <div class="footer">
        <p>&copy; plop.io 2013</p>
    </div>
</div>